.bank-list-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #ffffff; 
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    overflow: auto; 
}

.bank-list-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
}

.bank-list-container p {
    text-align: center;
    margin-bottom: 10px;
    color: #666; 
}

.bank-list-container button {
    background-color: #f0f0f0; 
    color: #333; 
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.bank-list-container button:hover {
    background-color: #e0e0e0; 
}

.bank-list-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.bank-list-container th, .bank-list-container td {
    border: 1px solid #e0e0e0; 
    padding: 8px;
    text-align: left;
}

.bank-list-container th {
    background-color: #f5f5f5; 
    color: #333; 
}

.bank-list-container .cardsImg {
    height: 3rem;
  
}

.bank-list-container .menu-contextual {
    position: absolute;
    background-color: #ffffff; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    gap: 2px;
    z-index: 1;
}

.bank-list-container .menu-contextual button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    padding: 8px 0;
    text-align: left;
    cursor: pointer;
    color: #333;
}

.bank-list-container .menu-contextual button:hover {
    background-color: #f0f0f0; 
}

.bank-list-container .menu-contextual button.delete {
    color: #fff; 
    background-color: #e53935;
}

.bank-list-container .menu-contextual button.edit {
    color: #fff; 
    background-color: #03a9f4;
}

.bank-list-container div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bank-list-container select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #e0e0e0; 
    background-color: #ffffff; 
    cursor: pointer;
    color: #333; 
}
