.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar-container form {
    flex-grow: 1;
}

.search-bar-container input {
    width: 25%;
    padding: 10px;
    border: 1px solid #e0e0e0; /* Borde muy claro */
    border-radius: 4px;
    background-color: #ffffff; /* Fondo blanco */
    color: #333; /* Color de texto oscuro */
}

.search-bar-container button.add-btn {
    background-color: #ffeb3b; /* Fondo amarillo */
    color: #333; /* Color de texto oscuro */
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Espacio entre la barra de búsqueda y el botón */
}

.search-bar-container button.add-btn:hover {
    background-color: #fdd835; /* Fondo amarillo más oscuro al pasar el mouse */
}